# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data (too large for git)
data/raw/
data/processed/

# Model outputs & checkpoints
outputs/

# Drive download folders
drive-download-*/

# WandB logs
wandb/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
